.mainLayout {
  height: 100dvh;

  display: flex;
  flex-direction: column;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  flex-grow: 1;

  height: 100%;
  overflow-y: auto;
}

.main {
  padding-inline: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  color: var(--text-color);
  background-color: transparent;
  text-align: center;
  font-size: 15px;

  width: 100%;
  padding: 15px 10px;
  opacity: .7;
}
